<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org%22%3E/
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<title>EpicTask</title>
</head>
<body>
<h1>EpicTask</h1>

<p th:text="test"></p>

<a class="btn red" href="/tarefas/cadastrar">cadastrar</a>

<div class="tasks">

    <div class="card-task" th:each="tarefa : ${tarefas}">
        <h2>Estudar</h2>
        <p>Descrição da Tarefa</p>
    </div>

</div>
</body>
</html>