html {
    height: 100%;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
  }
  
  
  .header,
  .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .header {
    background-color: white;
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
  }
  
  .navigation_header {
    gap: 3em;
    z-index: 2;
  }
  
  .content {
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
  }
  
  .navigation_header a {
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
  }
  
  .navigation_header a:hover {
    color: red;
  }
  
  .active {
    background: #49ae96;
    padding: 10px;
    border-radius: 10px;
  
  }
  
  
  .btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
  }
  
  nav {
    background-color: #fff;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  nav li a:hover {
    background-color: #c4c4c4;
  }
  
  .dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    border-radius: 10px;
  }
  
  .dropdown-menu a {
    display: block;
    color: black;
    background-color: ;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .navigation_header {
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background: #c4c4c4;
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -vw;
    }
  
    .btn_icon_header {
      display: block;
    }
  }
  
  @keyframes showSidebar {
    from {
      margin-left: -100vw;
    }
  
    to {
      margin-left: -10vw;
    }
  }
  
  * {
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
  }
  
  .NovaOcor {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: #49ae96;
  }
  
  .wrapper {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    background-color: #49ae96;
    margin-bottom: 50px;
  }
  
  .wrapper hr {
    margin-top: 20px;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: #C4C4C4;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  
  }
  
  input,
  button {
    margin: 0;
  }
  
  input {
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 17px;
    width: 20%;
    background-color: #B4EFE1;
  }
  
  input::placeholder {
  
    color: #1e1e1e;
    font-family: 'Arial';
    font-size: 16px;
  }
  
  button {
    border: none;
    text-align: center;
    background-color: #B4EFE1;
    color: #1e1e1e;
    font-family: 'Arial';
    font-size: 16px;
    height: 33px;
    border-radius: 15px;
    width: 15%;
    margin-right: %;
  }
  
  button h4 {
    font-size: 13px;
    width: 100%;
  }
  
  button:hover {
    background-color: #B4EFE1;
    cursor: pointer;
  }
  
  .character {
    padding: 15px;
  }
  
  #txtcharacter {
    margin: 0;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 12px;
  }
  
  .classList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0;
  }
  
  .classList input {
    width: 15%;
  }
  
  .itemsList {
    background-color: #E2EDEA;
    width: 100%;
    height: 20px;
    margin: 0;
  }
  
  .group {
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
  }
  
  .group input {
    width: 25%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 2%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
  
  }
  
  .group .oc {
    width: 10%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 20%;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
  }
  
  .group .editar {
    width: 12%;
    height: 35px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1px;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  }
  
  .group input:focus {
    border-color: #49ae96;
  }
  
  .group-2 {
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
  }
  
  .group-2 input {
    width: 25%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 2%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
  
  }
  
  
  .group-2 .oc {
    width: 10%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 20%;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  }
  
  .group-2 .editar {
    width: 12%;
    height: 35px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1px;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  }

  
  .group-2 input:focus {
    border-color: #49ae96;
  }
  
  .group-3 {
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
  }
  
  .group-3 input {
    width: 25%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 2%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
  
  }
  
  .group-3 .oc {
    width: 10%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 20%;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  }
  
  .group-3 .editar {
    width: 12%;
    height: 35px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1px;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  }
 
  .group-3 input:focus {
    border-color: #49ae96;
  }