
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f4;
    color: var(--color-white);
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #f3f4f4;
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;   
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background: #545454;
    padding: 10px;
    border-radius: 10px;
   
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
 
nav{
   background-color: #fff;
}
    
nav li{
   display: inline-block;
}
    
nav li a{
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 10px;
}
    
nav li a:hover{
    background-color: red;
}
    
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
    
.dropdown-menu a{
    display: block;
    color: black;
}
    
.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
/*Fim Header*/
.form{
    box-sizing: border-box;
    background: #545454;
    width: 1315px;
    height: 105px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 17px;;
}
.titulo{
    background-color: #000000;
    width: 100%;
    height: 15px;
    border-radius: 10px 10px 0px 0px;
}
.titulo h1{
    font-size: 13px;
    color: #f3f4f4;
    margin-left: 10px;

}
.area{
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
    font-weight: bold;
}
.form-area{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #f3f4f4;
}
.horario{
    color: black;
    float: left;
    margin-top: 30px;
    margin-right: 60px;
}
.form-horario{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #f3f4f4;
}
.datas{
    color: black;
    float: left;
    margin-top: 30px;
    margin-right: 60px ;
    font-weight: bold;
}
.date{
    width: 150px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #f3f4f4;
}
.convid{
    float: right;
    margin-top: 8px;
    margin-right: 60px;
    border: 0px;
}
.convid label{
    color: #f3f4f4;
    font-weight: bold;
    font-size: 13px;
}
.lista{
    float: right;
}
.form-list{
    float: right;
}
.form-control{
    margin-left: 1000px;
    float: right;
}
.bto{
    float: right;
    height: 30px;
    width: 130px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(29, 211, 99);
    border: 0px;
    
}
.mr{
    box-sizing: border-box;
    background: #545454;
    width: 1315px;
    height: 200px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 17px;   
}
.mr h2{
    background-color: #c4c4c4;
    color: #1c1c1c;
    font-size: 14px;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}
h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #545454;
	color: #21201e;
	text-align: center;
	width: 200px;
	height: 250px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 36px;
}
.product-info{
    background-color: #545454;
    width: 300px;
    height: 150px;
}
.product .product-title, .product .product-price{
	font-size: 10px;
    font-weight: bold;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 100px;
	margin: 1rem;
	transition: all 0.3s;
    border-radius: 30px;
    margin-top: 10px;
}
.product h3{
    font-size: 10px;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

