@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f3f4f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: center;

    min-height: 100vh;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #c4c4c4;
    justify-content: space-between;
    padding: 0 10px;
    height: 50PX;
    width: 100%;
    box-shadow: 0 0 10px black;

}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    border-radius: 10px;

}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

nav{
   background-color: red;
   border-radius: 10px;
   Color: white;
   Font-weight: bold;

}

nav li{
   display: inline-block;
}

nav li a{
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: 7px;
}

nav li a:hover{
    background-color: #545454;
    border-radius: 10px;
}

.dropdown-menu{
    background-color: #c4c4c4;
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    border-radius: 10px;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -5vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
section{
    width: 100%;
    height: 1000px;
}
.w50{
    width: 100%;
    float: left;

}
.box{
    display: flex;
    width: 100%;
}
.buttonCadastroMorador{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    margin-top: 25px;
    border-radius: 15px;
    width: 20%;
    height: 40px;
    margin-left: 10%;
    border: none;
    color: #fff;
    opacity: 60%;
    font-weight: bold;
}
.edtcad{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    margin-top: 25px;
    border-radius: 15px;
    width: 20%;
    height: 40px;
    margin-left: 10%;
    border: none;
    color: #fff;
    font-weight: bold;
}
.exccad{
    background-image: linear-gradient(to right, #310909, #e01e1e);
    margin-top: 25px;
    border-radius: 15px;
    width: 20%;
    height: 40px;
    margin-left: 10%;
    border: none;
    color: #fff;
}
.form-box{
    margin-top: 25px;
    margin-left: 1.5%;
    background-color: #fff;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    display: block;
    width: 97%;
    height: 700px;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
}
.form-box h2{
    font-size: 20px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #49ae96;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
}
form .input-group .rg{
   color: #3D3D3D;
   font-weight: bold;
   display: block;
   margin-top: -23px;
   margin-bottom: -15px;
  margin-right: 44.5%;
   float: right

}
form .input-group .blc{
   color: #3D3D3D;
   font-weight: bold;
   display: block;
   margin-top: -23px;
   margin-bottom: -15px;
  margin-right: 43%;
   float: right

}
form .input-group .conf{
   color: #3D3D3D;
   font-weight: bold;
   display: block;
   margin-top: -23px;
   margin-bottom: -15px;
  margin-right: 35.6%;
   float: right

}
form .input-group input{
    width: 47%;
    height: 47px;
    background-color: #fff;
    border-color: #1b98e0;
    border: 20;
    border-radius: 20px;
    outline: none;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group .rgg{
    width: 47%;
    height: 47px;
    background-color: #fff;
    border-color: #1b98e0;
    border: 20;
    border-radius: 20px;
    outline: none;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    float: right

}
form .input-group input:focus{
    border-color: #49ae96;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background-image: linear-gradient(to right, #006494, #561be0);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    margin-left: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    opacity: 100%;
}

#picture__input {
    display: none;
  }
  
.picture {
    border-radius: 90%;
    width: 15%;
    aspect-ratio: 4/4;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}
  
.picture:hover {
    color: #777;
    background: #ccc;
  }
  
.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
.picture__img {
    max-width: 100%;
  }
.perfil {
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
  
  }
.perfil .nome{
    margin-right: 75%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.perfil .sobrenome{
    margin-right: 72%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.perfil input{
    width: 80%;
    height: 47px;
    background-color: #fff;
    border-color: #1b98e0;
    border: 20;
    border-radius: 20px;
    outline: none;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    float: right;
}
.perfil input:focus{
    border-color: #49ae96;
}