@import	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@charset "utf-8";


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f4;
    color: white;
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-white);
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: #fff;   
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    border-radius: 10px; 
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
 
nav{
   background-color: #fff;
}
    
nav li{
   display: inline-block;
}
    
nav li a{
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 10px;
}
    
nav li a:hover{
    background-color: red;
}
    
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
    
.dropdown-menu a{
    display: block;
    color: black;
}
    
.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 70%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -7vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -vw;}
}
.cadastrarvisitante{
 height: 40px;
 width: 150px;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 1.5%;
 border-radius: 15px;
 border: none;
 background-image: linear-gradient(to right, #006494, #561be0);
 color: white;
 font-weight: bold;
 cursor: pointer;

}
.cadastrarvisitante2{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1.5%;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to right, #006494, #561be0);
    color: white;
    font-weight: bold;
   }
.cadastrarnovo{
    height: 350px;
    width: 100%;
    background-color: white;
}
.cadastrarnovo2{
    height: 350px;
    width: 100%;
    background-color: white;
}
.cadastrarnovo2 h2{
    color: black;
}
.cad{
    height: 150px;
    width: 100%;
    background-color: white;  
}
.cad2{
    height: 150px;
    width: 100%;
    background-color: white;  
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 350px;
    max-width: 500px;
    border-radius: 15px;
}
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 400px;
    max-width: 500px;
    border-radius: 15px;
}
.modal-content2 h2{
    color: black;
}
.modal-content .cancel{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #c4c4c4;
    color: white;
    font-weight: bold;
}


.modal-content .Salvar{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: rgb(73, 73, 255);
    color: white;
    font-weight: bold;
}
.modal-content2 .Salvar{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: rgb(73, 73, 255);
    color: white;
    font-weight: bold;
}

.modal-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
}
.cadastrarvisita label {
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.cadastrarvisita2 label {
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.cadastrarvisita input {
    width: 100%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
 .form .cadastrarvisita2 .editando{
    width: 100%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
 .form .cadastrarvisita2 .editarid{
    margin-top: 15px;
    width:15%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form{
    width: 97%;
    height: 500px;
    margin-left: 1.5%;
    
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.nvvist{
    float: left;
    width: 30%;
}
.filtro{
    width: 70%;
    float: right;

}
.form .title{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    height: 20px;
    border-radius: 15px 15px 0px 0px;
}
.form .title h2{
    font-size: 15px;
    margin-left: 10px;
    padding: auto;
}
.form .group{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.form .group .apt{
    
    margin-top: 15px;
    color: #B4EFE1;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    
}
.form .group input{
    width: 7%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-bottom:20px;
}
.form .group .nm{
    width: 20%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .x{
    width: 15%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .oc{
    width: 15%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .ap{
    width: 20%;
    height: 28px;
    background-color: #f3f4f4;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 18px;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}
.form .group .editvisitante{
    margin: 0px;
    width: 12%;
    height: 35px;
    background-image: linear-gradient(to right, #006494, #561be0);
    text-decoration: none;
    margin-left: 4%;;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    border: none;
    cursor: pointer;

}
#txtBusca{
    margin-top: 15px;
    float: right;
    margin-left: 2%;
    padding-left:5px;
    font-size:14px;
    border-color: #1b98e0;
    height: 40px;
    width: 10%;
    border-radius: 15px;
  }
  #txtBsca{
    margin-top: 15px;
    float: right;
    margin-left: 5%;
    padding-left:5px;
    font-size:14px;
    border-color: #1b98e0;
    height: 40px;
    width: 12%;
    border-radius: 15px;
  }
  #btnBusca{
    float: right;
    cursor:pointer;
  }
  
  #divBusca img{
    float:left;
  }
  
  #divBusca{
    border:solid 10px rgba(47, 79, 79, 0.8);
    border-radius:10px;
    height:37px;
    width: 15%;
    float: right;
  }
.form .group .editarcad{
    margin: 0px;
    width: 12%;
    height: 35px;
    background-image: linear-gradient(to right, #310909, #e01e1e);
    text-decoration: none;
    float: right;
    margin-right: 3%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
      cursor: pointer;

}
.form .group .resolvida{
    margin: 0px;
    width: 80px;
    height: 30px;
    background-color: red;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-left: 20px;
    color: black;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}
.filtro .busc{
    float: right;
    margin: 0px;
    width: 150px;
    height:  40px;
    background-image: linear-gradient(to right, #006494, #561be0);
    text-decoration: none;
    float: right;
    margin-right: 4.5%;
    margin-left: 3%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
}

.modal-content {
        padding: 20px;
    }

    .modal-title {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-right: 10px;
    }

    /* Estilos para o Swal */
    .swal2-title {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .swal2-content {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .swal2-input {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 14px;
    }

    .swal2-validation-message {
        font-size: 12px;
    }

    .modal-footer .btn-secondary {
        margin-right: 10px;
    }

    .modal-footer .btn-primary {
        margin-left: 10px;
    }