@import	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@charset "utf-8";


#openModal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

#openModal img {
  width: 40px;
  height: 40px;
  border-radius: 90%;
  margin-top: 7px;
}


.header,
.navigation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header{
  background-color: #c4c4c4;
  justify-content: space-between;
  padding: 0 10px;
  height: 3.5em;
  margin-bottom: 10px;
  box-shadow: 0 0 10px black;
}

.navigation_header{
  gap: 3em;
  z-index: 2;
}
.content{
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  transition: 1s;
}
.navigation_header a{
  text-decoration: none;
  color: black;
  transition: 1s;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}
.navigation_header a:hover{
  color: red;
}
.active{
  background-image: linear-gradient(to right, #006494, #1b98e0);
  padding: 10px;
  border-radius: 10px;

}
.btn_icon_header{
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

nav{
 background-color: #fff;
 height: 3.5em;
 width: 200px;
}
.logout{
  float; right;
  height: 40px;
  margin-left: 0px;
}
nav li{
 display: inline-block;
}

nav li a{
 display: inline-block;
 color: black;
 text-decoration: none;
 padding: 10px;
}

nav li a:hover{
  background-color: red;
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;
}

.dropdown-menu a{
  display: block;
  color: black;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

@media screen and (max-width: 768px) {
  .navigation_header{
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background: #c4c4c4;
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -vw;
  }
  .btn_icon_header{
      display: block;
  }
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  to {margin-left: -10vw;}
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .modal {
    width: 60%;
    height: 400px;
    background-color: #1d3354;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .modal h2 {
    color: white;
  }

  .form-box {
    margin-top: 25px;
    background-color: #c4c4c4;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
  }

  .form-box h2 {
    font-size: 20px;
  }

  .form-box p {
    font-weight: bold;
    color: #3D3D3D;
  }

  .form-box p a {
    color: #49ae96;
    text-decoration: none;.group label
  }

  .form-box form {
    margin: 20px 0;
  }

  form .input-group {
    margin-bottom: 15px;
  }

  form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  form .input-group input {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
  }
  form .input-group2 .cpf {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    float: right;
    margin-top: 10px;
  }
  form .input-group2 input {
    width: 40%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: black;
    transition: all 0.4s ease;
    margin-top: 10px;
  }
  form .input-group2  .cpff{
    margin-top: 10px;
    width: 40%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: black;
    transition: all 0.4s ease;
    float: right;
  }


  form .input-group input:focus {
    border-color: #49ae96;
  }

  form .input-group button {
    width: 100%;
    height: 47px;
    background: #49ae96;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    margin-left: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    opacity: 100%;
  }

  #picture__input {
    display: none;
  }

  .picture {
    border-radius: 90%;
    width: 12%;
    aspect-ratio: 4/4;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

  .picture:hover {
    color: #777;
    background: #ccc;
  }

  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }

  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .picture__img {
    max-width: 100%;
  }

  .perfil {
    margin-top: 0px;
    align-items: center;
    width: 100%;
    background-color: #1d3354;
    border-radius: 15px;

  }

  .perfil .nome {
    margin-right: 75%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .perfil .sobrenome {
    margin-right: 72%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .perfil input {
    margin-top: 10px;
    width: 80%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    float: right;
  }

  .perfil input:focus {
    border-color: #49ae96;
}




.cadastrarvisitante{
 height: 40px;
 width: 150px;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 1.5%;
 border-radius: 15px;
 border: none;
 background-image: linear-gradient(to right, #006494, #561be0);
 color: white;
 font-weight: bold;
 cursor: pointer;

}
.cadastrarvisitante2{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1.5%;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to right, #006494, #561be0);
    color: white;
    font-weight: bold;
   }
.cadastrarnovo{
    height: 350px;
    width: 100%;
    background-color: white;
}
.cadastrarnovo2{
    height: 350px;
    width: 100%;
    background-color: white;
}
.cadastrarnovo2 h2{
    color: black;
}
.cad{
    height: 150px;
    width: 100%;
    background-color: white;  
}
.cad2{
    height: 150px;
    width: 100%;
    background-color: white;  
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 350px;
    max-width: 500px;
    border-radius: 15px;
}
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 400px;
    max-width: 500px;
    border-radius: 15px;
}
.modal-content2 h2{
    color: black;
}
.modal-content .cancel{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #c4c4c4;
    color: white;
    font-weight: bold;
}


.modal-content .Salvar{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: rgb(73, 73, 255);
    color: white;
    font-weight: bold;
}
.modal-content2 .Salvar{
    float: right;
    margin-right: 3%;
    width: 20%;
    height: 35px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: rgb(73, 73, 255);
    color: white;
    font-weight: bold;
}

.modal-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
}
.cadastrarvisita label {
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.cadastrarvisita2 label {
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.cadastrarvisita input {
    width: 100%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
 .form .cadastrarvisita2 .editando{
    width: 100%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
 .form .cadastrarvisita2 .editarid{
    margin-top: 15px;
    width:15%;
    border-radius: 15px;
    height: 28px;
    background-color: #467599;
    border: 5px;
    color: white;
    font-weight: bold;
 }
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form{
    width: 97%;
    height: 500px;
    margin-left: 1.5%;
    
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.nvvist{
    float: left;
    width: 30%;
}
.filtro{
    width: 70%;
    float: right;

}
.form .title{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    height: 20px;
    border-radius: 15px 15px 0px 0px;
}
.form .title h2{
    font-size: 15px;
    margin-left: 10px;
    padding: auto;
}
.form .group{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.form .group .apt{
    
    margin-top: 15px;
    color: #B4EFE1;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    
}
.form .group input{
    width: 7%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-bottom:20px;
}
.form .group .nm{
    width: 20%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .x{
    width: 15%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .oc{
    width: 15%;
    height: 28px;
    background-color: #fff;
    border-color: #1b98e0;
    border : 20;
    outline: none;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .ap{
    width: 20%;
    height: 28px;
    background-color: #f3f4f4;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 18px;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}
.form .group .editvisitante{
    margin: 0px;
    width: 12%;
    height: 35px;
    background-image: linear-gradient(to right, #006494, #561be0);
    text-decoration: none;
    margin-left: 4%;;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    border: none;
    cursor: pointer;

}
#txtBusca{
    margin-top: 15px;
    float: right;
    margin-left: 2%;
    padding-left:5px;
    font-size:14px;
    border-color: #1b98e0;
    height: 40px;
    width: 10%;
    border-radius: 15px;
  }
  #txtBsca{
    margin-top: 15px;
    float: right;
    margin-left: 5%;
    padding-left:5px;
    font-size:14px;
    border-color: #1b98e0;
    height: 40px;
    width: 12%;
    border-radius: 15px;
  }
  #btnBusca{
    float: right;
    cursor:pointer;
  }
  
  #divBusca img{
    float:left;
  }
  
  #divBusca{
    border:solid 10px rgba(47, 79, 79, 0.8);
    border-radius:10px;
    height:37px;
    width: 15%;
    float: right;
  }
.form .group .editarcad{
    margin: 0px;
    width: 12%;
    height: 35px;
    background-image: linear-gradient(to right, #310909, #e01e1e);
    text-decoration: none;
    float: right;
    margin-right: 3%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
      cursor: pointer;

}
.form .group .resolvida{
    margin: 0px;
    width: 80px;
    height: 30px;
    background-color: red;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-left: 20px;
    color: black;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}
.filtro .busc{
    float: right;
    margin: 0px;
    width: 150px;
    height:  40px;
    background-image: linear-gradient(to right, #006494, #561be0);
    text-decoration: none;
    float: right;
    margin-right: 4.5%;
    margin-left: 3%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
}

.modal-content {
        padding: 20px;
    }

    .modal-title {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-right: 10px;
    }

    /* Estilos para o Swal */
    .swal2-title {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .swal2-content {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .swal2-input {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 14px;
    }

    .swal2-validation-message {
        font-size: 12px;
    }

    .modal-footer .btn-secondary {
        margin-right: 10px;
    }

    .modal-footer .btn-primary {
        margin-left: 10px;
    }
