@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f3f4f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: center;

    min-height: 100vh;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #c4c4c4;
    justify-content: space-between;
    padding: 0 10px;
    height: 50PX;
    width: 100%;
    box-shadow: 0 0 10px black;

}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    border-radius: 10px;

}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

nav{
   background-color: red;
   border-radius: 10px;
   Color: white;
   Font-weight: bold;

}

nav li{
   display: inline-block;
}

nav li a{
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: 7px;
}

nav li a:hover{
    background-color: #545454;
    border-radius: 10px;
}

.dropdown-menu{
    background-color: #c4c4c4;
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    border-radius: 10px;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -5vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


 .form{
     width: 97%;
     height: 500px;
     margin-left: 1.5%;
     background-color: #fff;
     border-radius: 15px;
     margin-top: 5%;

 }
 .nvvist{
     float: left;
     width: 30%;
 }
 .filtro{
     width: 100%;
     float: right;


 }
 .title{

     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to right, #006494, #1b98e0);
     padding: 10px;
     color: white;

   }
   .title h3{
     margin-left: 1.5%;
     font-size: 18px;
     color: white;
     font-weight: bold;
     display: flex;


   }
 .form .group{
     margin-top: 20px;
     margin-bottom: 10px;
     display: inline-block;
     width: 100%;
 }
 .form .group .apt{

     margin-top: 15px;
     color: #B4EFE1;
     font-weight: bold;
     display: block;
     margin-bottom: 5px;
     font-size: 13px;

 }
 .form .group input{
     width: 7%;
     height: 28px;
     background-color: #B4EFE1;
     border-radius: 15px;
     outline: none;
     border: 2px solid transparent;
     margin-left: 2%;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;
     display: inline-block;
     align-items: center;
     text-align: center;

 }
 .form .group .nm{
     width: 20%;
     height: 28px;
     background-color: #fff;
     border-color: #1b98e0;
     border : 20;
     outline: none;
     border-radius: 15px;
     margin-left: 2%;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;
     display: inline-block;

 }
 .form .group .x{
     width: 15%;
     height: 28px;
     background-color: #fff;
     border-color: #1b98e0;
     border : 20;
     outline: none;
     border-radius: 15px;
     margin-left: 2%;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;
     display: inline-block;

 }
 .form .group .oc{
     width: 15%;
     height: 28px;
     background-color: #fff;
     border-color: #1b98e0;
     border : 20;
     outline: none;
     border-radius: 15px;
     margin-left: 2%;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;
     display: inline-block;

 }
 .form .group .apto{
     width: 5%;
     height: 28px;
     background-color: #fff;
     border-color: #1b98e0;
     border : 20;
     outline: none;
     border-radius: 15px;
     margin-left: 2%;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;
     display: inline-block;

 }
 .form .group .ap{
     width: 20%;
     height: 28px;
     background-color: #f3f4f4;
     border-radius: 15px;
     outline: none;
     border: 2px solid transparent;
     margin-left: 18px;
     margin-right: 5px;
     font-size: 15px;
     color: #616161;
     transition: all 0.4s ease;

 }
 .form .group .editvisitante{
     margin: 0px;
     width: 12%;
     height: 35px;
     background-color: rgb(255, 234, 0);
     text-decoration: none;

     margin-left: 4%;;
     color: white;
     text-align: center;
     border-radius: 15px;
     font-weight: bold;
     font-size: 13px;
     align-items: center;
     border: none;
 }
 #txtBusca{
     margin-top: 15px;
     float: right;
     margin-left: 2%;
     padding-left:5px;
     font-size:14px;
     border-color: #1b98e0;
     width: 150px;
     height:  28px;
     border-radius: 15px;
   }
   #txtBsca{
     margin-top: 15px;
     float: right;
     margin-left: 5%;
     padding-left:5px;
     font-size:14px;
     border-color: #1b98e0;
     width: 150px;
     height:  28px;
     border-radius: 15px;
   }
   #btnBusca{
     float: right;
     cursor:pointer;
   }

   #divBusca img{
     float:left;
   }

   #divBusca{
     border:solid 10px rgba(47, 79, 79, 0.8);
     border-radius:10px;
     height:37px;
     width: 15%;
     float: right;
   }
 .form .group .editarcad{
     margin: 0px;
     width: 12%;
     height: 35px;
     background-image: linear-gradient(to right, #006494, #561be0);
     text-decoration: none;
     float: right;
     margin-right: 3%;
     border: none;
     color: white;
     text-align: center;
     border-radius: 15px;
     font-weight: bold;
     font-size: 13px;
     align-items: center;
 }
 .form .group .resolvida{
     margin: 0px;
     width: 80px;
     height: 30px;
     background-color: red;
     text-decoration: none;
     float: right;
     margin-right: 40px;
     margin-left: 20px;
     color: black;
     text-align: center;
     border-radius: 15px;
     font-weight: bold;
     font-size: 13px;
     align-items: center;
 }
 .filtro .busc{
   background-image: linear-gradient(to right, #006494, #561be0);
     margin-top: 15px;
     float: right;
     margin-right: 4%;
     margin-left: 2%;
     padding-left:5px;
     font-size:18px;
     border:none;
     width: 150px;
     height:  28px;
     border-radius: 15px;
     font-weight: bold;
     color: white;
 }