.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: left;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005f7f;
}

form {
  font-family: "Open Sans", sans-serif;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Estilo do modal em si */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão para fechar o modal */
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Estilo do título do modal */
.modal h2 {
  margin-top: 0;
  font-size: 24px;
}

/* Estilo do conteúdo do modal */
.modal p {
  margin-bottom: 0;
  font-size: 18px;
}