@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f3f4f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: center;

    min-height: 100vh;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #c4c4c4;
    justify-content: space-between;
    padding: 0 10px;
    height: 50PX;
    width: 100%;
    box-shadow: 0 0 10px black;

}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    border-radius: 10px;

}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

nav{
   background-color: red;
   border-radius: 10px;
   Color: white;
   Font-weight: bold;

}

nav li{
   display: inline-block;
}

nav li a{
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: 5px;
   text-align: center;
}

nav li a:hover{
    background-color: #545454;
    border-radius: 10px;
}

.dropdown-menu{
    background-color: #c4c4c4;
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    border-radius: 10px;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -5vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


.filtro{
    width: 100%;
    height: 40px;
    margin-bottom: 1.0%;
    margin-top: 2%;



}
.form{
    background-color: #fff;
    height: 550px;
    width: 97%;
    margin-left: 1.5%;
    border-radius: 10px;


}
.filtro .form-status{
  float: right;
  width: 150px;
    height: 28px;
    background-color: #1b98e0;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 1%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;
}
.filtrar{
    margin-top: 3px;
    float: right;
    margin: 0px;
    width: 150px;
    height:  28px;
    background-image: linear-gradient(to right, #310909, #e01e1e);
    text-decoration: none;
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;

}

.title{
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-image: linear-gradient(to right, #006494, #1b98e0);
}
.title h3{

    font-size: 15px;
    color: white;
    font-weight: bold;
}

.form .group{
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;

}
.form .group a{
    width: 100px;
    background-color: #00ff08;

}
.form hr{
    
}

.form .group  .ver{
    
    width: 12%;
    height: 28px;
    background-image: linear-gradient(to right, #006494, #561be0);
    text-decoration: none;
    float: right;
    font-size: 13px;

    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    align-items: center;
}
.form .group .resolvida{
    margin: 0px;
    width: 12%;
    height: 28px;
    background-color: #00f556;
    text-decoration: none;
    float: right;
    

    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.form  .imgs{
  float: right;
  
}
.form .group .resolvido{
    height: 60px;
    width: 5%;
}
.form .group label{
    width: 25%;
    height: 28px;
    background-color: #FFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #1b98e0;
    margin-left: 2%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    text-align: center;
    
}
.form .group .apt{
    
    margin-top: 15px;
    color: #B4EFE1;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    
}
.form .group input{
    width: 25%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 2%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;

}
.form .group .x{
    width: 5%;
    height: 28px;
    background-color: #FFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #1b98e0;
    margin-left: 1%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .oc{
    width: 25%;
    height: 28px;
    background-color: #FFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #1b98e0;
    margin-left: 5%;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .sts{
    width: 8%;
    height: 28px;
    background-color: #FFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #1b98e0;
    margin-left: 1%;

    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;

}
.form .group .ap{
    width: 20%;
    height: 28px;
    background-color: #f3f4f4;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 18px;
    margin-right: 5px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}

.form .group .titulo{
    width: 970px;
    height: 28px;
    background-color: #f3f4f4;
    border-radius: 7px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 11px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}
.form .group input:focus{
    border-color: #49ae96;
}
.form .group button{
    width: 100%;
    height: 47px;
    background: #49ae96;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.form .ocorrencia{
       
}

.form .ocorrencia label{
    margin-top: 5px;
    color: #f3f4f4;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 13px;

}
 
.form .ocorrencia input{
    width: 35%;
    height: 25px;
    background-color: #f3f4f4;
    border-radius: 7px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 20px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;   
}
.form .ocorrencia a{
    font-size: 15px;
    
    text-decoration: none;
    color: white;
    margin-left: 10px;

}
.form .group .ocorr{
    float: right;
}
.form .input-group{
    margin-bottom: 15px;
    display: inline-block;
}
.form .input-group label{
    margin-top: 15px;
    color: #f3f4f4;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
}

.form .input-group input{
    width: 20%;
    height: 20px;
    background-color: #f3f4f4;
    border-radius: 7px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 11px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}
.form .input-group input:focus{
    border-color: #49ae96;
}
..form .linha{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 10px;
}

form hr {
   margin-top: 20px;
}