@media screen and (max-width: 768px) {
  .navigation_header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: #c4c4c4;
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -vw;
  }
  .btn_icon_header {
    display: block;
  }
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.custom-modal {
  width: 60%;
  height: 400px;
  background-color: #1d3354;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-modal h2 {
  color: white;
}

form .custom-input-group {
  margin-bottom: 15px;
}

form .custom-input-group label {
  color: #3d3d3d;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form .custom-input-group input {
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
}
form .custom-input-group2 .custom-cpf {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  float: right;
  margin-top: 10px;
}
form .custom-input-group2 input {
  width: 40%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: black;
  transition: all 0.4s ease;
  margin-top: 10px;
}
form .custom-input-group2 .custom-cpff {
  margin-top: 10px;
  width: 40%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: black;
  transition: all 0.4s ease;
  float: right;
}

form .custom-input-group input:focus {
  border-color: #49ae96;
}

form .custom-input-group button {
  width: 100%;
  height: 47px;
  background: #49ae96;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  margin-left: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  opacity: 100%;
}

#custom-picture__input {
  display: none;
}

.custom-picture {
  border-radius: 90%;
  width: 12%;
  aspect-ratio: 4/4;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.custom-picture:hover {
  color: #777;
  background: #ccc;
}

.custom-picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.custom-picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-picture__img {
  max-width: 100%;
}

.custom-perfil {
  margin-top: 0px;
  align-items: center;
  width: 100%;
  background-color: #1d3354;
  border-radius: 15px;
}

.custom-perfil .nome {
  margin-right: 75%;
  float: right;
  color: #3d3d3d;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.custom-perfil .sobrenome {
  margin-right: 72%;
  float: right;
  color: #3d3d3d;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.custom-perfil input {
  margin-top: 10px;
  width: 80%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  float: right;
}

.custom-perfil input:focus {
  border-color: #49ae96;
}