*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f4;
    color: var(--color-white);
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #f3f4f4;
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;   
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background: #545454;
    padding: 10px;
    border-radius: 10px;
   
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
 
nav{
   background-color: #fff;
}
    
nav li{
   display: inline-block;
}
    
nav li a{
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 10px;
}
.dropdown a{
    background-color: #f3f4f4;
}
nav li a:hover{
    background-color: #c4c4c4;
}
    
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
    
.dropdown-menu a{
    display: block;
    color: black;
}
    
.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


.mr{
    box-sizing: border-box;
    background: #467599;
    width: 97%;
    height: 400px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 1.5%;   
}
.mr .group label {
  width: 12%;
  height: 28px;
  background-color: #9ed8db;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  margin-left: 5%;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  display: inline-block;
  align-items: center;
  font-weight: bold;
}

.mr .group .oc {
  width: 12%;
  height: 28px;
  background-color: #9ed8db;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  margin-left:  6.16%;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  display: inline-block;


}
.mr .group .dt {
  width: 12%;
  height: 28px;
  background-color: #9ed8db;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  font-size: 15px;
  margin-left:  6.16%;
  color: #616161;
  transition: all 0.4s ease;
  display: inline-block;


}

.modal-body .nomecomp{
  width: 50%;
}
.modal-body .doc{
  width: 30%;
}
.mr .group{
  margin-bottom: 10px;
}
.mo .group{
  margin-bottom: 10px;
}
.mv .group{
  margin-bottom: 10px;
}
.mr .group .editar {
  float: right;
  width: 12%;
  height: 32px;
  background-color: red;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  margin-right: 4%;

  border: none;
  font-size: 13px;
  color: white;
  font-weight: bold;
  transition: all 0.4s ease;
  display: inline-block;
}
.mr .group .listando {
  float: right;
  width: 12%;
  height: 32px;
  background-color: #85a4a7;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  margin-right: 4%;
  margin-left: 3%;
  border: none;
  font-size: 13px;
  color: white;
  font-weight: bold;
  transition: all 0.4s ease;
  display: inline-block;
}
.group input:focus {
  border-color: #c4c4c4;
}
.mv{
  box-sizing: border-box;
  background: #467599;
  width: 97%;
  height: 400px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 1.5%;   
}
.mo{
  box-sizing: border-box;
  background: #467599;
  width: 97%;
  height: 400px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 1.5%;   
}
.minhasreservas{
    margin-top: 15px;
    height: 20px;
    width: 100%;
    background-color: white;
}
.title{
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: black;
  background-color: #1d3354;
}
.title h3{

  font-size: 18px;
  color: white;
  font-weight: bold;
}
.titulo{
    background-color: #000000;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}
.titulo h1{
    font-size: 13px;
    color: #f3f4f4;
    margin-left: 10px;

}
.group {
   width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
  }
  .group  form{
    float: right;
    width: 30%;
   
  }
  

  .group .oc {
    width: 10%;
    height: 10px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 20%;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
  }
  
  .group .editar {
    width: 12%;
    height: 35px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1px;
    margin-right: 2%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  }
  
  
  .wrapper {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    background-color: #545454;
    margin-bottom: 50px;
  }
  
  .wrapper hr {
    margin-top: 20px;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: #1d3354;
  }

  .text h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  
  }
  
  input,
  button {
    margin: 0;
  }
  

  
  input::placeholder {
  
    color: #1e1e1e;
    font-family: 'Arial';
    font-size: 16px;
  }
  .cadastrarvisitante{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1.5%;
    border-radius: 15px;
    border: none;
    background-color: #467599 ;
    color: white;
    font-weight: bold;
   }

   .cadastrarnovo{
       height: 350px;
       width: 100%;
       background-color: white;
   }

   .cad{
       height: 150px;
       width: 100%;
       background-color: white;  
   }
 
   
   .modal {
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgba(0, 0, 0, 0.4);
   }
   .modal2 {
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgba(0, 0, 0, 0.4);
   }
   
   .modal-content {
       background-color: #fefefe;
       margin: 15% auto;
       padding: 20px;
       border: 1px solid #888;
       width: 80%;
       height: 350px;
       max-width: 500px;
       border-radius: 15px;
   }
   .modal-content2 {
       background-color: #fefefe;
       margin: 15% auto;
       padding: 20px;
       border: 1px solid #888;
       width: 80%;
       height: 400px;
       max-width: 500px;
       border-radius: 15px;
   }
   .modal-content2 h2{
       color: black;
   }
   .modal-content .cancel{
       float: right;
       margin-right: 3%;
       width: 20%;
       height: 35px;
       margin-top: 2%;
       border-radius: 15px;
       background-color: #c4c4c4;
       color: white;
       font-weight: bold;
   }
   
   
   .modal-content .Salvar{
       float: right;
       margin-right: 3%;
       width: 20%;
       height: 35px;
       margin-top: 2%;
       border-radius: 15px;
       background-color: rgb(73, 73, 255);
       color: white;
       font-weight: bold;
   }
   .modal-content2 .Salvar{
       float: right;
       margin-right: 3%;
       width: 20%;
       height: 35px;
       margin-top: 2%;
       border-radius: 15px;
       background-color: rgb(73, 73, 255);
       color: white;
       font-weight: bold;
   }
   
   .modal-content h2 {
       font-family: Arial, Helvetica, sans-serif;
       color: black;
       margin-bottom: 10px;
   }
   .cadastrarvisita label {
       color: black;
       font-size: 13px;
       font-weight: bold;
   }
   .cadastrarvisita2 label {
       color: black;
       font-size: 13px;
       font-weight: bold;
   }
   .cadastrarvisita input {
       width: 100%;
       border-radius: 15px;
       height: 28px;
       background-color: #467599;
       border: 5px;
       color: white;
       font-weight: bold;
    }
    .form .cadastrarvisita2 .editando{
       width: 100%;
       border-radius: 15px;
       height: 28px;
       background-color: #467599;
       border: 5px;
       color: white;
       font-weight: bold;
    }
    .form .cadastrarvisita2 .editarid{
       margin-top: 15px;
       width:15%;
       border-radius: 15px;
       height: 28px;
       background-color: #467599;
       border: 5px;
       color: white;
       font-weight: bold;
    }
   .close {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
       color: black;
       text-decoration: none;
       cursor: pointer;
   }
   .form{
       width: 97%;
       height: 500px;
       margin-left: 1.5%;
       background-color: #467599;
       border-radius: 15px;
   }
   .nvvist{
       float: left;
       width: 30%;
   }
   .filtro{
       width: 70%;
       float: right;
   
   }
   
   
   .mv .group input{
       width: 3%;
       height: 28px;
       background-color: #B4EFE1;
       border-radius: 15px;
       outline: none;
       border: 2px solid transparent;
       margin-left: 3%;
       font-size: 15px;
       color: #616161;
       transition: all 0.4s ease;
       display: inline-block;
       align-items: center;
       text-align: center;
   
   }
   .mv .group .nm{
       width: 20%;
       height: 28px;
       background-color: #B4EFE1;
       border-radius: 15px;
       outline: none;
       border: 2px solid transparent;
       margin-left: 3%;
       font-size: 15px;
       color: #616161;
       transition: all 0.4s ease;
       display: inline-block;
   
   }
   .mv .group .x{
       width: 12%;
       height: 28px;
       background-color: #B4EFE1;
       border-radius: 15px;
       outline: none;
       border: 2px solid transparent;
       margin-left: 3%;
       font-size: 15px;
       color: #616161;
       transition: all 0.4s ease;
       display: inline-block;
       overflow-x: auto;
   
   }
   .mv .group .oc{
       width: 12%;
       height: 28px;
       background-color: #B4EFE1;
       border-radius: 15px;
       outline: none;
       border: 2px solid transparent;
       margin-left: 3%;
       font-size: 15px;
       color: #616161;
       transition: all 0.4s ease;
       display: inline-block;
   
   }

   .mv .group .editvisitante{
    float: right;
    width: 12%;
    height: 32px;
    background-color: rgb(253, 220, 0);
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 4%;
  
    border: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
   }

    
   .mv .group .editarcad{
    float: right;
    width: 12%;
    height: 32px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 4%;
    font-weight: bold;
    border: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
   }

   .filtro .busc{
       float: right;
       margin: 0px;
       width: 150px;
       height:  40px;
       background-color: red;
       text-decoration: none;
       float: right;
       margin-right: 4.5%;
       margin-left: 3%;
       border: none;
       color: white;
       text-align: center;
       border-radius: 15px;
       font-weight: bold;
       font-size: 13px;
       align-items: center;
       margin-top: 15px;
   }
   .mo .group label {
    width: 20%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 3%;
    font-size: 15px;
    color: black;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    text-align: center;
  
  }
  
  .mo .group .oc {
    width: 32%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 4%;
    font-size: 15px;
    transition: all 0.4s ease;
    display: inline-block;
  
  
  }
  .mo .group .or {
    width: 12%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 4%;
    font-size: 15px;
    transition: all 0.4s ease;
    display: inline-block;
  
  
  }
  
  .mo .group .editar {
    float: right;
    width: 12%;
    height: 35px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 4%;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
  
  }
  .mo .group .ed {
    width: 100%;
    height: 35px;
    border-radius:15px ;
    background-color: red;
    font-weight: bold;
    color: white;
   border: none;
  
  }
  