:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    color: white;
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #c4c4c4;
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
        background-image: linear-gradient(to right, #006494, #1b98e0);
    padding: 10px;
    border-radius: 10px;

}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

nav{
   background-color: red;
   border-radius: 10px;
   Color: white;
   Font-weight: bold;
}

nav li{
   display: inline-block;
}

nav li a{
   display: inline-block;
      color: white;
      text-decoration: none;
      padding: 10px;
}

nav li a:hover{
    background-color: #545454;
    border-radius: 10px;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 70%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -7vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -vw;}
}

.form{
    background-color: #fff;
    height: 570px;
    width: 97%;
    margin-left: 1.5%;
    border-radius: 10px;
    margin-top: 3%;
}

.filtro{
    width: 98.7%;
    margin: 0;
    padding: 10px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    background-image: linear-gradient(to right, #006494, #1b98e0);
 }
 .filtro .text{
    width: 50%;
    float: left;
 }

 .filtro .data{
    float: right;
    width: 150px;
    height: 28px;
    border: 2px solid #006494, #561be0;
    background-color: #FFF;
    color: #616161;
    font-weight: bold;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    margin-left: 2%;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;
}
 .filtro .filtrar{
    float: right;
    margin: 0px;
    width: 150px;
    height:  28px;
    background-image: linear-gradient(to right, #310909, #e01e1e);
    text-decoration: none;
    float: right;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 0px;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;

}
.reservas{
    width: 100%;
    border-radius: 10px;
}
.form .input-group{
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    margin-top: 10px;
}


.form .input-group label{
    width: 20%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 3%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;

}
.form .input-group .apt{
    width: 5%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;

}
.form .input-group .area{
    width: 20%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;

}
.form .input-group .data{
    width: 10%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;
}
.form .input-group .hora{
    width: 10%;
    height: 28px;
    background-color: #B4EFE1;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 1%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    text-align: center;
}
.form .input-group input:focus{
    border-color: #49ae96;
}
.form .input-group .convid{
   width: 12%;
   float: right;
   margin-right: 3%
}
.form .input-group .convid .abrir{
    width:100%;
    height: 32px;
    background: #fff200;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 3%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    float: right;
    font-weight: bold;
}
.testando{
    height: 2px;
    background-color: #000000;
    margin-top: 15px;
}
form .group{
    margin-bottom: 15px;
    display: inline-block;
}
form .group label{
    margin-top: 15px;
    color: #f3f4f4;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
}
form .group input{
    width: 200px;
    height: 20px;
    background-color: #f3f4f4;
    border-radius: 7px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 11px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}
form .group input:focus{
    border-color: #49ae96;
}
form .group button{
    width: 100%;
    height: 47px;
    background: #49ae96;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
  }
  .modal-content h2 {
    color: black;
    font-family: arial;
    margin-bottom: 10px;
  }
  .modal-content .convidados .nome{
    width: 60%;
    margin-left: 1%;

  }
  .modal-content .convidados .doc{
    width: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  