
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ed8db;
    color: var(--color-white);
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: white;
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;   
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.navigation_header a:hover{
    color: red;
}
.active{
    background: #467599;
    padding: 10px;
    border-radius: 10px;
   
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
 
nav{
   background-color: white;
   height: 3.5em;
}
    
nav li{
   display: inline-block;
}
    
nav li a{
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 10px;
}
    
nav li a:hover{
    background-color: #f4f3f3;
}
    
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
    
.dropdown-menu a{
    display: block;
    color: black;
}
    
.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

/*Fim Header*/

.form{
    box-sizing: border-box;
    background: #467599;
    width: 97%;
    height: 105px;
    border-radius: 10px;
    
    margin-left: 1.5%;
}
.titulo{
    background-color: black;
    width: 100%;
    height: 25px;
    border-radius: 10px 10px 0px 0px;
}
.titulo h1{
    font-size: 16px;
    color: white;
    margin-left: 10px;
    font-weight: bold;

}
.area{
    width: 12%;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    color: black;
    font-weight: bold;
}
.form-area{
    width: 100%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color:#9ed8db;
}
.horario{
    width: 12%;
    color: black;
    float: left;
    margin-top: 30px;
    margin-left:  6.16%;
}
.form-horario{
    width: 100%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #9ed8db;
}
.datas{
    width: 12%;
    color: black;
    float: left;
    margin-top: 30px;
    margin-left:  6.16%;
    font-weight: bold;
}
.date{
    width: 100%;
    margin-right: 80px;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #9ed8db;
    margin-bottom: 30px;
}
.convid{
    
    float: right;
    border: 0px;
    margin-right: 150px;
}

.convid label{
    color: #f3f4f4;
    font-weight: bold;
    font-size: 13px;
    margin-left: 50px;
}
.bton{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #f3f4f4;
}
textarea{
    width: 350px;
    height: 500px;
    resize: none;
    border-radius: 20px;
}
.lista{
    float: right;
}
.form-list{
    float: right;
}
.form-control{
    margin-left: 1000px;
    float: right;
}
.bto{
    float: right;
    height: 30px;
    width: 130px;
    margin-top: 47px;
    margin-right: 6%;
    border-radius: 10px;
    background-color: rgb(29, 211, 99);
    border: 0px;
    font-weight: bold;
}

.mr{
    box-sizing: border-box;
    background: #467599;
    width: 97%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 1.5%;   
}
.minhasreservas{
    margin-top: 15px;
    height: 20px;
    width: 100%;
    background-color: white;
}
.mr h2{
    background-color: #c4c4c4;
    color: #1c1c1c;
    font-size: 14px;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}
h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
    margin-top: 15% ;
	display: flex;
    width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    background-color: white;
}
.espacos{
    display: flex;
}

.product{
	overflow: hidden;
	background: #545454;
	color: white;
	text-align: center;
	width: 24%;
	height: 550px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	margin: 5px;
    margin-top: 30px;
}
.all-products h2{
font-size: 50px;
text-align: center;
text-decoration: none;
margin-bottom: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #545454;
}
.product-info{
    background-color: #545454;
    width: 300px;
    height: 150px;
}
.product .product-title, .product .product-price{
	font-size: 10px;
    font-weight: bold;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
    width: 100%;
	height: 300px;
	margin: 1rem;
	transition: all 0.3s;
    margin-top: 0px;
    
    
}
.tit{
    width: 100%;
    height: 20px;
    background-color: white;
}
.tit h3{
   font-size: 13px;
   
}
.card{
    margin-left: 1.5%;
    display: inline-block;
}
.area2{
    margin-left: 350px;
    display: inline-block;
    margin-top: 0px;
}
.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

.group {
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
}
  
.group label {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 5%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}
  
.group .oc {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left:  6.16%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
 }
.group .dt {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    margin-left:  6.16%;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
}
.group .convidados{
    width: 15%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
    display: inline-block;
    margin-left:  6.16%;
}
.modal-body .nomecomp{
    width: 50%;
}
.modal-body .doc{
    width: 30%;
}

  .group .editar {
    width: 12%;
    height: 28px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 5%;
    margin-left:  6.16%;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
  }
  
  .group input:focus {
    border-color: #c4c4c4;
  }
  
  .group-2 input {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 5%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}
  
.group-2 .oc {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left:  6.16%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
 }
.group-2 .dt {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    margin-left:  6.16%;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
}
.group-2 .convidados{
    width: 15%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
    display: inline-block;
    margin-left:  6.16%;
}
.modal-body .nomecomp{
    width: 50%;
}
.modal-body .doc{
    width: 30%;
}

.group-2 .editar {
    width: 12%;
    height: 28px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 5%;
    margin-left:  6.16%;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
}
  
  .group-2 input:focus {
    border-color: #c4c4c4;
  }
  

  .wrapper {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    background-color: #545454;
    margin-bottom: 50px;
  }
  
  .wrapper hr {
    margin-top: 20px;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: #1d3354;
  }

  .text h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  
  }
  
  input,
  button {
    margin: 0;
  }
  
  input {
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 17px;
    width: 20%;
    background-color: #9ed8db;
  }
  
  input::placeholder {
  
    color: #1e1e1e;
    font-family: 'Arial';
    font-size: 16px;
  }