#openModal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

#openModal img {
  width: 40px;
  height: 40px;
  border-radius: 90%;
  margin-top: 7px;
}


.header,
.navigation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header{
  background-color: white;
  justify-content: space-between;
  padding: 0 10px;
  height: 3.5em;
}

.navigation_header{
  gap: 3em;
  z-index: 2;
}
.content{
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  transition: 1s;
}
.navigation_header a{
  text-decoration: none;
  color: black;
  transition: 1s;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}
.navigation_header a:hover{
  color: red;
}
.active{
  background: #49ae96;
  padding: 10px;
  border-radius: 10px;

}
.btn_icon_header{
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

nav{
 background-color: #fff;
 height: 3.5em;
}

nav li{
 display: inline-block;
}

nav li a{
 display: inline-block;
 color: black;
 text-decoration: none;
 padding: 10px;
}

nav li a:hover{
  background-color: red;
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;
}

.dropdown-menu a{
  display: block;
  color: black;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

@media screen and (max-width: 768px) {
  .navigation_header{
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background: #c4c4c4;
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -vw;
  }
  .btn_icon_header{
      display: block;
  }
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  to {margin-left: -10vw;}
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .modal {
    width: 60%;
    height: 400px;
    background-color: #1d3354;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .modal h2 {
    color: white;
  }

  .form-box {
    margin-top: 25px;
    background-color: #c4c4c4;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
  }

  .form-box h2 {
    font-size: 20px;
  }

  .form-box p {
    font-weight: bold;
    color: #3D3D3D;
  }

  .form-box p a {
    color: #49ae96;
    text-decoration: none;
  }

  .form-box form {
    margin: 20px 0;
  }

  form .input-group {
    margin-bottom: 15px;
  }

  form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  form .input-group input {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
  }
  form .input-group2 .cpf {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    float: right;
    margin-top: 10px;
  }
  form .input-group2 input {
    width: 40%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: black;
    transition: all 0.4s ease;
    margin-top: 10px;
  }
  form .input-group2  .cpff{
    margin-top: 10px;
    width: 40%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: black;
    transition: all 0.4s ease;
    float: right;
  }


  form .input-group input:focus {
    border-color: #49ae96;
  }

  form .input-group button {
    width: 100%;
    height: 47px;
    background: #49ae96;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    margin-left: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    opacity: 100%;
  }

  #picture__input {
    display: none;
  }

  .picture {
    border-radius: 90%;
    width: 12%;
    aspect-ratio: 4/4;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

  .picture:hover {
    color: #777;
    background: #ccc;
  }

  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }

  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .picture__img {
    max-width: 100%;
  }

  .perfil {
    margin-top: 0px;
    align-items: center;
    width: 100%;
    background-color: #1d3354;
    border-radius: 15px;

  }

  .perfil .nome {
    margin-right: 75%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .perfil .sobrenome {
    margin-right: 72%;
    float: right;
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .perfil input {
    margin-top: 10px;
    width: 80%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    float: right;
  }

  .perfil input:focus {
    border-color: #49ae96;
}
/*Fim Header*/

.form{
    box-sizing: border-box;
    background: #467599;
    width: 97%;
    height: 105px;
    border-radius: 10px;
    
    margin-left: 1.5%;
}
.titulo{
    background-color: black;
    width: 100%;
    height: 25px;
    border-radius: 10px 10px 0px 0px;
}
.titulo h1{
    font-size: 16px;
    color: white;
    margin-left: 10px;
    font-weight: bold;

}
.area{
    width: 12%;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    color: black;
    font-weight: bold;
}
.form-area{
    width: 100%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color:#9ed8db;
}
.horario{
    width: 12%;
    color: black;
    float: left;
    margin-top: 30px;
    margin-left:  6.16%;
}
.form-horario{
    width: 100%;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #9ed8db;
}
.datas{
    width: 12%;
    color: black;
    float: left;
    margin-top: 30px;
    margin-left:  6.16%;
    font-weight: bold;
}
.date{
    width: 100%;
    margin-right: 80px;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #9ed8db;
    margin-bottom: 30px;
}
.convid{
    
    float: right;
    border: 0px;
    margin-right: 150px;
}

.convid label{
    color: #f3f4f4;
    font-weight: bold;
    font-size: 13px;
    margin-left: 50px;
}
.bton{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    background-color: #f3f4f4;
}
textarea{
    width: 350px;
    height: 500px;
    resize: none;
    border-radius: 20px;
}
.lista{
    float: right;
}
.form-list{
    float: right;
}
.form-control{
    margin-left: 1000px;
    float: right;
}
.bto{
    float: right;
    height: 30px;
    width: 130px;
    margin-top: 47px;
    margin-right: 6%;
    border-radius: 10px;
    background-color: rgb(29, 211, 99);
    border: 0px;
    font-weight: bold;
}

.mr{
    box-sizing: border-box;
    background: #467599;
    width: 97%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 1.5%;   
}
.minhasreservas{
    margin-top: 15px;
    height: 20px;
    width: 100%;
    background-color: white;
}
.mr h2{
    background-color: #c4c4c4;
    color: #1c1c1c;
    font-size: 14px;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}
h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
    margin-top: 15% ;
	display: flex;
    width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    background-color: white;
}
.espacos{
    display: flex;
}

.product{
	overflow: hidden;
	background: #545454;
	color: white;
	text-align: center;
	width: 24%;
	height: 550px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	margin: 5px;
    margin-top: 30px;
}
.all-products h2{
font-size: 50px;
text-align: center;
text-decoration: none;
margin-bottom: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #545454;
}
.product-info{
    background-color: #545454;
    width: 300px;
    height: 150px;
}
.product .product-title, .product .product-price{
	font-size: 10px;
    font-weight: bold;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
    width: 100%;
	height: 300px;
	margin: 1rem;
	transition: all 0.3s;
    margin-top: 0px;
    
    
}
.tit{
    width: 100%;
    height: 20px;
    background-color: white;
}
.tit h3{
   font-size: 13px;
   
}
.card{
    margin-left: 1.5%;
    display: inline-block;
}
.area2{
    margin-left: 350px;
    display: inline-block;
    margin-top: 0px;
}
.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

.group {
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  
}
  
.group label {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 5%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}
  
.group .oc {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left:  6.16%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
 }
.group .dt {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    margin-left:  6.16%;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
}
.group .convidados{
    width: 15%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
    display: inline-block;
    margin-left:  6.16%;
}
.modal-body .nomecomp{
    width: 50%;
}
.modal-body .doc{
    width: 30%;
}

  .group .editar {
    width: 12%;
    height: 28px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 5%;
    margin-left:  6.16%;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
  }
  
  .group input:focus {
    border-color: #c4c4c4;
  }
  
  .group-2 input {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left: 5%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}
  
.group-2 .oc {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-left:  6.16%;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
 }
.group-2 .dt {
    width: 12%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    margin-left:  6.16%;
    color: #616161;
    transition: all 0.4s ease;
    display: inline-block;
  
  
}
.group-2 .convidados{
    width: 15%;
    height: 28px;
    background-color: #9ed8db;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
    display: inline-block;
    margin-left:  6.16%;
}
.modal-body .nomecomp{
    width: 50%;
}
.modal-body .doc{
    width: 30%;
}

.group-2 .editar {
    width: 12%;
    height: 28px;
    background-color: red;
    border-radius: 15px;
    outline: none;
    border: 2px solid transparent;
    margin-right: 5%;
    margin-left:  6.16%;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
    display: inline-block;
}
  
  .group-2 input:focus {
    border-color: #c4c4c4;
  }
  

  .wrapper {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    background-color: #545454;
    margin-bottom: 50px;
  }
  
  .wrapper hr {
    margin-top: 20px;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: #1d3354;
  }

  .text h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  
  }
  
  input,
  button {
    margin: 0;
  }
  
  input {
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 17px;
    width: 20%;
    background-color: #9ed8db;
  }
  
  input::placeholder {
  
    color: #1e1e1e;
    font-family: 'Arial';
    font-size: 16px;
  }