*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: var(--color-white);
}


.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-white);
    justify-content: space-between;
    padding: 0 10px;
    height: 3.5em;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}

.navigation_header a:hover{
    color: red;
}
.active{
    background: #49ae96;
    padding: 10px;
    border-radius: 10px;

}


.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

nav{
   background-color: #fff;
}

nav li{
   display: inline-block;
}

nav li a{
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 10px;
}

nav li a:hover{
    background-color: red;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #c4c4c4;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
* {
    margin: 0 auto;
}

.navigation {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

a {
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 50px;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: #c9c9c9c9;
    border-radius: 50%;
}

.container {
    max-width: 1080px;
    width: 100%;
    border-radius: 15px;
    background-color: #ECFBF7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.meuPerfil {
    width: 90.7%;
    background-color: #C4C4C4;
    padding: 10px 50px;
    border-radius: 15px 15px 0 0;
}

.meuPerfil p {
    font-family: Arial, Helvetica, sans-serif;
}

.containerDados {
    display: flex;
    margin: 0;
    padding: 20px;
    border-radius: 0 0 15px 15px;

}

.image {
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 50%;
    background-color: #c9c9c9;
}

.dados {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    gap: 30px;
}

.itemDados {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.campo {
    background-color: #c9c9c9;
    border: none;
    padding: 10px 20px;
    width: 500px;
    border-radius: 50px;
}

#button {
    background-color: #c9c9c9;
}

#button:hover {
    background-color: aquamarine;
}

a:hover {
    background-color: aqua;
}

.end {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.text {
    background-color: #c9c9c9;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.caixas {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#especifie {
    margin: 0;
}